<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %>
  <%= content_tag :div, message, :id => key %>
<% end %>

<%= yield %>

<a href="<%= activemonitor_path %>">ActiveMonitor</a>

</body>
</html>
